body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 6, 86); 
    color:rgb(0, 0, 0)
}

header{
    background-color: white;
    padding: 2.0rem;
    border-bottom: 1px solid white;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.header-image {
  border-radius: 6px;
}

.brand h1 {
    margin: 0;
}

.username {
    font-size: 0.9rem;
    color: #555;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

section {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(255, 254, 254, 0.05);
}


section button {
    
    margin-top: 0.5rem;
    padding: 0.2rem;
    font-weight:bold;
    border: none;
    border-radius: 6px;
    background-color: rgb(189, 143, 143);
    color: white;
    cursor: pointer;
}

section button:hover {
  background-color: rgb(0, 0, 0);
}


section h2 {
  margin-top: 0;
}

nav menu {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

section ul {
    padding-left: 1.2rem;
}

section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section li:hover {
    text-decoration: line-through;
}


input {
  padding: 0.4rem;
  margin-left: 0.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

nav menu li {
    padding: 0.25rem 0;
}

nav a {
    text-decoration: none;
    color: rgb(173, 5, 5);
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}

nav a:hover{
    text-decoration: underline;
    color:rgb(0, 0, 0)
}


footer {
    text-align:center;
    padding: 8rem;
    color: #fff2f2;
    font-size: 0.9rem;
}
