body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 6, 86); 
    color:rgb(0, 0, 0)
}

header{
    background-color: white;
    padding: 2.0rem;
    border-bottom: 1px solid white;
}

main {
    max-width: 900px;
    margin: 2rem;
    padding: 0 0.000001rem;
}

footer {
    text-align:center;
    padding: 1rem;
    color: #8d8d8d;
    font-size: 0.9rem;
}

header h1{
    margin: 0;
    font: sans-serif;
    font-size: 2rem;
    color: rgb(255, 0, 0)
}

header p{
  margin: 0.5rem;
  color: #555;
}

section{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0.05);
}

section h2 {
    margin-top: 0;
    color: rgb(246, 9, 9);
}

nav menu {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav menu li {
    padding: 0.25rem 0;
}

nav a {
    text-decoration: none;
    color: rgb(27, 244, 172);
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}

nav a:hover{
    text-decoration: overline;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td{
    padding:0.5rem;
    text-align: center;
}