body{
    margin: 2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 6, 86); 
    color:rgb(0, 0, 0)
}

header{
    background-color: white;
    padding: 2.0rem;
    border-bottom: 1px solid white;
}

main {
    max-width: 900px;
    margin: 2rem;
    padding: 0 0.000001rem;
}

footer {
    text-align:center;
    padding: 1rem;
    color: #8d8d8d;
    font-size: 0.9rem;
}

header h1{
    margin: 0;
    font: sans-serif;
    font-size: 2rem;
    color: rgb(255, 0, 0)
}

header p{
  margin: 0.25rem 0 1rem;
  color: #555;
}


nav menu {
    display: flex;
    gap: 1rem;
    padding: 2;
    margin: 5;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(27, 244, 172);
    font-weight: bold;
}

nav a:hover{
    text-decoration: overline;
}
