body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(69, 58, 96);
  color: #111;
}

header {
  background-color: #fff;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;   
}

.brand h1 {
  margin: 0;
  font-size: 2rem;
  color: #000;
}

main {
  min-height: calc(100vh - 160px); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

section {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 750px;         
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
  color: rgb(173, 5, 5);
}

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.5rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  background-color: rgb(173, 5, 5);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #f33939;
}


footer {
  text-align: center;
  padding: 1rem;
  color: #ddd;
  font-size: 0.9rem;
}

footer a {
  color: #ddd;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
