@font-face {
  font-family: 'Quicksand';
  src: url('https://cs260.click/fonts/quicksand.ttf');
}
.login-page{
    margin: 0;
    font-family: Quicksand;
    background-color: rgb(35, 35, 102); 
    color:rgb(0, 0, 0)
}

.login-main{
  padding: 2rem;
}

.login-card{
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 11px;
  width: 100%
}

.email-login{
    padding: 0.5rem;
    margin-left: 0.4rem;
    border-radius: 4px;
    width: 100%;
}

input {
    padding: 0.4rem;
    margin-left: 0.4rem;
    border-radius: 4px;
}

.login-buttons{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.6rem 1rem;
    font-weight:bold;
    border: none;
    border-radius: 6px;
    background-color: rgb(194, 100, 100);
    color: white;
    cursor: pointer;
}