@font-face {
  font-family: 'Quicksand';
  src: url('https://cs260.click/fonts/quicksand.ttf');
}
.body{
    margin: 0;
    font-family: Quicksand;
    background-color: rgb(51, 51, 52); 
    color:rgb(0, 0, 0)
}

header{ /**element selector**/
    background-color: white;
    padding: 2.0rem; /*rem means root rem, relative to browser specifications*/
    border-bottom: 1px solid white;
}

.header-bar { /**class selector**/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.brand { 
  display: flex;
  flex-direction: column;
  gap: 0.25rem;   /* controls spacing between title and username */
}

.username {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

header h1{ 
    margin: 0;
    font: sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0)
}

.header-image {     
    height: auto;
    border-radius: 6px;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 0.000001rem;
}

footer {
    text-align:center;
    padding: 1rem;
    color: #8d8d8d;
    font-size: 0.9rem;
}

section{
    background-color: rgb(255, 255, 255);
    padding: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0.05);
}

section h2 {
    margin-top: 0;
    color: rgb(173, 5, 5);
}

header p{
  margin: 0.5rem;
  color: #555;
}

nav menu {
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav menu li {
    padding: 0.25rem 0;
}

nav a {
    text-decoration: none;
    color: rgb(173, 5, 5);
    font-weight: bold;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
}

nav a:hover{ /**psuedo selector**/
    text-decoration: underline;
    color:rgb(0, 0, 0)
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td{
    border: 2px solid #5d5555;
    padding:0.5rem;
    text-align: center;
}

th {
    background-color: #fffbfb;
}

section article {
    margin-top: 1rem;
    padding: 1rem;
    min-height: 120px;      
    background-color: #f7f7f7;
    border-radius: 6px;
    line-height: 1.5;
}